
#queueNums{
  border-right: 4px black solid;
  height: 100%;

}

.queueNum{
  text-align: center;
  font-size: 65px;
  height: 20%;

}

.digit{
  height: 20px; 
  color: #03676D; 
  font-weight: 800; 
  font-size: 110px;

}

.digitAnimate{
  height: 20px; 
  color: #d00000; 
  font-weight: 800; 
  font-size: 110px;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}



#promote{
  height: 100%;

}

